<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="org.apache.cordova.contactlist"
	version="1.1">
      
    <name>ContactList</name>
	<description>Contact list</description>
	<author>Qordinate</author>
	<license>MIT</license>

	<engines>
	    <engine name="cordova" version=">=2.9" />
	</engines>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ContactList">
                <param name="android-package" value="org.apache.cordova.contactlist.ContactList"/>
            </feature>
        </config-file>
          
        <source-file src="src/android/ContactList.java" target-dir="src/org/apache/cordova/contactlist/" />
        <source-file src="src/android/FastSearchListView.java" target-dir="src/org/apache/cordova/contactlist/" />
        <source-file src="src/android/SimpleIndexAdapter.java" target-dir="src/org/apache/cordova/contactlist/" />
        <source-file src="src/android/ImageLoaderManager.java" target-dir="src/org/apache/cordova/contactlist/" />
        <resource-file src="src/android/res/drawable/list_item_background.xml" target="res/drawable/list_item_background.xml" />
        <resource-file src="src/android/res/drawable/list_item_selector.xml" target="res/drawable/list_item_selector.xml" />
        <resource-file src="src/android/res/layout/contact_item.xml" target="res/layout/contact_item.xml" />
    </platform>
          
</plugin>
